@page "/InternDashboard"

<h3>InternDashboard</h3>


<div class="card-container">
    <div class="card w-75 mb-3">
        <div class="card-body">
            <h3 class="card-title">Profile</h3>
            <p class="card-text">View your personal information.</p>
            <NavLink href="InternProfile" class="btn btn-primary">View Interns</NavLink>
        </div>
    </div>
    <div class="card w-75 mb-3">
        <div class="card-body">
            <h3 class="card-title">Projects</h3>
            <p class="card-text">See the list of projects assigned to you.</p>
            <NavLink href="InternProjects" class="btn btn-primary">View Projects</NavLink>
        </div>
    </div>
</div>


@code {

}
